* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #fff6ff;
  text-align: center;
}

header {
  height: 15vh;
  width: 100vw;
}

footer {
  padding-top: 50px;
}

.logo img {
  width: auto;
  height: 10vh;
}

.navbar {
  position: fixed;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  box-sizing: border-box;
  background-color: #b48bbd;
  border-bottom: 3px solid #000;
}

.navbar a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.navbar .logo {
  /* font-size: 2em;
  font-weight: bold; */
  height: 7k0px;
  width: auto;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 25px;
}

.navbar .nav-links ul li.active a {
  color: #5a4a9c;
}

.nav-icon {
  width: 20px; /* Adjust size as needed */
  height: 20px;
  margin-right: 8px; /* Space between the icon and text */
  vertical-align: middle;
}

content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pkmn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  max-width: 80%;
  margin: 0 auto;
}

.pkmn .image-container {
  width: 250px; /* Fixed width */
  height: 250px; /* Fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pkmn .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures images scale properly */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  border-radius: 10px;
  margin-top: 10px;
}

.balls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  max-width: 80%;
  margin: 0 auto;
}

.balls .image-container {
  width: 100px; /* Fixed width */
  height: 100px; /* Fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.balls .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures images scale properly */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  border-radius: 10px;
}

.eggs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  max-width: 80%;
  margin: 0 auto;
}

.eggs .image-container {
  width: 100px; /* Fixed width */
  height: 100px; /* Fixed height */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.eggs .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures images scale properly */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
  border-radius: 10px;
}

content a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px; /* Ensures text aligns with images */
}

content p {
  color: black;
  font-weight: normal;
  font-size: 1.2em;
}

main p {
  color: black;
  font-weight: normal;
  font-size: 1.2em;
}

.hero {
  padding: 50px;
  color: black;
}

.hero-items {
  padding: 50px;
  color: black;
  display: flex;
  align-items: flex-start;
}

.hero .btn {
  background-color: red;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.category {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.featured-pokemon {
  width: 100%;
  text-align: center;
  background-color: #fff;
  padding: 20px 0;
  margin-top: 20px;
  border-top: 3px solid #000;
  border-bottom: 3px solid #000;
}

.featured-pokemon h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.pokemon-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.pokemon-card:hover {
  transform: scale(1.1);
}

.pokemon-card p {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  text-transform: capitalize;
}

.item-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.item-card {
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 200px;
}

.item-card img {
  width: 100px;
  height: 100px;
}

.login-body {
  text-align: center;
  background-image: url('/images/drac_gauche.png'), url('/images/drac_droit.png');
  background-position: 10% 60%, 90% 70%; /* Ajustement horizontal et vertical */
  background-repeat: no-repeat, no-repeat;
  background-size: 500px 500px, 500px 500px;
}
.login-container {
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  background: white;
  width: 300px;
  height: 250px;
  margin: 180px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}
.login-container h1 {
  color: #ffcc00;
  text-shadow: 2px 2px 0pxrgb(202, 59, 59);
}
.login-container input {
  width: 90%;
  padding: 10px;
  margin: 15px auto;
  border: 2px solidrgb(218, 20, 20);
  border-radius: 5px;
}
.login-container button {
  background-color: #ffcc00;
  color: black;
  padding: 10px;
  margin: 10px;
  border: none;
  width: 90%;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
.login-container button:hover {
  background-color: #ffd700;
}

.notfound h1 {
  font-size: 3rem;
  color: #FF6347;
}

.notfound p {
  font-size: 1.5rem;
  color: #555;
}

.notfound .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notfound .image-container span {
  font-size: 28rem;
  color: #000;
  margin: 0 20px;
}

.notfound img {
  width: 400px;
  height: auto;
}