{# templates/error/404.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Page non trouvée</title>
</head>
<body>
    <h1>404 - Page non trouvée</h1>
    <p>Désolé, la page que vous recherchez n'existe pas.</p>
    <a href="{{ path('app_poke_center') }}">Retour à l'accueil</a>
</body>
</html>