<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Poké Center - Login</title>
		<link rel="icon" type="images/favicon.ico" href="/images/favicon.ico">
		<link rel="stylesheet" href="css/index.css">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
	</head>
	<body class="login-body">
		<header>
			{% include 'navbar.html.twig' %}
		</header>
		<div class="login-container">
			<h1>L<img src="/images/pokeball.png" alt="o" style="width: 50px; vertical-align: middle;">gin</h1>
			<form>
				<input type="text" placeholder="Trainer Name" required>
				<input type="password" placeholder="Password" required>
				<button type="submit">Login</button>
			</form>
		</div>
	</body>
</html>
