<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poké Center</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <header>
    <nav class="navbar">
      <a href="/" class="logo">Poké Center</a>
      <div class="nav-links">
        <ul>
          <li><a href="/pokemons">Pokémons</a></li>
          <li><a href="/balls">Pokéballs</a></li>
          <li><a href="/eggs">Oeufs</a></li>
          <li><a href="/items">Objets</a></li>
        </ul>
      </div>
    </nav>
  </header>
  <content>
    <h1>Bienvenue au Poké Center</h1>
    <p>Le Poké Center est un centre de soin pour vos Pokémons. Vous pouvez y soigner vos Pokémons, acheter des Pokéballs, des oeufs et des objets.</p>
    <p>Vous pouvez également consulter la liste des Pokémons, des Pokéballs, des oeufs et des objets disponibles.</p>
    <p>Vous pouvez également consulter la liste des Pokémons, des Pokéballs, des oeufs et des objets disponibles.</p>
    <p>Vous pouvez également consulter la liste des Pokémons, des Pokéballs, des oeufs et des objets disponibles.</p>
    <p>Vous pouvez également consulter la liste des Pokémons, des Pokéballs, des oeufs et des objets disponibles.</p>
    <p>Vous pouvez également consulter la liste des Pokémons, des Pokéballs, des oeufs et des objets disponibles.</p>
    <p>Vous pouvez également consulter la liste des Pokémons, des Pokéballs, des oeufs et des objets disponibles.</p>
    <p>Vous pouvez également consulter la liste des Pokémons, des Pokéballs, des oeufs et des objets disponibles.</p>
    <p>Vous pouvez également consulter la liste des Pokémons, des Pokéballs, des oeufs et des objets disponibles.</p>
  </content>
</body>
</html>