<nav class="navbar">
    <a href="/" class="logo">
        <img src="images/mark.png" alt="logo" class="logo">
    </a>
    <div class="nav-links">
        <ul>
            <li class="{% if app.request.getPathInfo() == '/pokemons' %}active{% endif %}">
                <a href="/pokemons">
                    <img src="/icons/pikachu.png" alt="Pokémons" class="nav-icon" style="width: auto; height: 30px; margin-right: 3px; vertical-align: middle;">Pokémons
                </a>
            </li>
            <li class="{% if app.request.getPathInfo() == '/balls' %}active{% endif %}">
                <a href="/balls">
                    <img src="/icons/item_0004.png" alt="balls" class="nav-icon" style="width: auto; height: 30px; margin-right: 3px; vertical-align: middle;">Pokéballs
                </a>
            </li>
            <li class="{% if app.request.getPathInfo() == '/eggs' %}active{% endif %}">
                <a href="/eggs">
                    <img src="/images/egg.png" alt="egg" class="nav-icon" style="width: auto; height: 30px; margin-right: 3px; vertical-align: middle;">Oeufs
                </a>
            </li>
            <li class="{% if app.request.getPathInfo() == '/items' %}active{% endif %}">
                <a href="/items">
                    <img src="/icons/item_0017.png" alt="item" class="nav-icon" style="width: auto; height: 30px; margin-right: 3px; vertical-align: middle;">Objets
                </a>
            </li>
            <li class="{% if app.request.getPathInfo() == '/login' %}active{% endif %}">
                <a href="/login">
                    <img src="/icons/trainer.png" alt="trainer" class="nav-icon" style="width: auto; height: 30px; margin-right: 3px; vertical-align: middle;">Compte
                </a>
            </li>
        </ul>
    </div>
</nav>
