<nav class="navbar">
	<a href="/" class="logo">
		<img src="images/mark.png" alt="logo" class="logo">
	</a>
	<div class="nav-links">
		<ul>
			<li class="{% if app.request.getPathInfo() == '/pokemons' %}active{% endif %}">
				<a href="/articles">
					<img src="/icons/pikachu.png" alt="Pokémons" class="nav-icon" style="width: auto; height: 30px; margin-right: 3px; vertical-align: middle;">Pokémons
				</a>
			</li>
			<li class="{% if app.request.getPathInfo() == '/items' %}active{% endif %}">
				<a href="/items">
					<img src="/icons/item_0017.png" alt="item" class="nav-icon" style="width: auto; height: 30px; margin-right: 3px; vertical-align: middle;">Objets
				</a>
			</li>
			<li class="{% if app.request.getPathInfo() == '/sell' %}active{% endif %}">
				<a href="/sell">
					<img src="/images/sell.png" alt="egg" class="nav-icon" style="width: auto; height: 30px; margin-right: 3px; vertical-align: middle;"> Vendre
				</a>
			</li>
			<li class="{% if app.request.getPathInfo() == '/cart' %}active{% endif %}">
				<a href="/cart">
					<img src="/images/cart.png" alt="egg" class="nav-icon" style="width: auto; height: 30px; margin-right: 3px; vertical-align: middle;"> Panier
				</a>
			</li>
			<li class="{% if app.request.getPathInfo() == '/login' %}active{% endif %}">
				<a href="/login">
					<img src="/icons/trainer.png" alt="trainer" class="nav-icon" style="width: auto; height: 30px; margin-right: 3px; vertical-align: middle;">Compte
				</a>
			</li>
		</ul>
	</div>
</nav>
