<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Poké Center</title>
  <link rel="icon" type="images/favicon.ico" href="/images/favicon.ico">
  <link rel="stylesheet" href="css/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
  <header>
    {% include 'navbar.html.twig' %}
  </header>
  <content>
    <div class="pkmn">
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/bulbasaur.png" alt="Bulbizarre">
        </div>
        <p>Bulbizarre : 500.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/ivysaur.png" alt="Herbizarre">
        </div>
        <p>Herbizarre : 1.000.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/venusaur.png" alt="Florizarre">
        </div>
        <p>Florizarre : 2.000.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/charmander.png" alt="Salamèche">
        </div>
        <p>Salamèche : 500.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/charmeleon.png" alt="Reptincel">
        </div>
        <p>Reptincel : 1.000.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/charizard.png" alt="Dracaufeu">
        </div>
        <p>Dracaufeu : 2.000.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/squirtle.png" alt="Carapuce">
        </div>
        <p>Carapuce : 500.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/wartortle.png" alt="Carabaffe">
        </div>
        <p>Carabaffe : 1.000.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/blastoise.png" alt="Tortank">
        </div>
        <p>Tortank : 2.000.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/caterpie.png" alt="Chenipan">
        </div>
        <p>Chenipan : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/metapod.png" alt="Chrysacier">
        </div>
        <p>Chrysacier : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/butterfree.png" alt="Papilusion">
        </div>
        <p>Papilusion : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/weedle.png" alt="Aspicot">
        </div>
        <p>Aspicot : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/kakuna.png" alt="Coconfort">
        </div>
        <p>Coconfort : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/beedrill.png" alt="Dardagnan">
        </div>
        <p>Dardagnan : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/pidgey.png" alt="Roucool">
        </div>
        <p>Roucool : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/pidgeotto.png" alt="Roucoups">
        </div>
        <p>Roucoups : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/pidgeot.png" alt="Roucarnage">
        </div>
        <p>Roucarnage : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/rattata.png" alt="">
        </div>
        <p>Rattata : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/raticate.png" alt="">
        </div>
        <p>Rattatac : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/spearow.png" alt="">
        </div>
        <p>Piafabec : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/fearow.png" alt="">
        </div>
        <p>Rapasdepic : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/ekans.png" alt="">
        </div>
        <p>Abo : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/arbok.png" alt="">
        </div>
        <p>Arbok : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/pikachu.png" alt="">
        </div>
        <p>Pikachu : 2.000$</p>
      </a>
      <a href="/">
        <div class="image-container">
          <img src="https://img.pokemondb.net/sprites/brilliant-diamond-shining-pearl/normal/raichu.png" alt="">
        </div>
        <p>Raichu : 2.000$</p>
      </a>
    </div>
  </content>
</body>
</html>